<a class="card" href="{{url}}" data-progress="{{status}}">
  <div class="card-block">
    <h4 class="card-title">{{title}}</h4>
    {% if text %}
    <p class="card-text">{{text}}</p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">
      <small class="text-muted">
        <span>DOM: {{dom|default(0)}}%</span>
        &middot;
        <span>Design: {{design|default(0)}}%</span>
      </small>
    </p>
  </div>
</a>
